/* line 34, ../sass/base.scss */
.mt-5 {
  margin-top: 0.2rem !important;
}

/* line 37, ../sass/base.scss */
.mb-5 {
  margin-bottom: 0.2rem !important;
}

/* line 40, ../sass/base.scss */
.w-5 {
  margin: 0 auto;
  width: 5% !important;
}

/* line 34, ../sass/base.scss */
.mt-10 {
  margin-top: 0.4rem !important;
}

/* line 37, ../sass/base.scss */
.mb-10 {
  margin-bottom: 0.4rem !important;
}

/* line 40, ../sass/base.scss */
.w-10 {
  margin: 0 auto;
  width: 10% !important;
}

/* line 34, ../sass/base.scss */
.mt-15 {
  margin-top: 0.6rem !important;
}

/* line 37, ../sass/base.scss */
.mb-15 {
  margin-bottom: 0.6rem !important;
}

/* line 40, ../sass/base.scss */
.w-15 {
  margin: 0 auto;
  width: 15% !important;
}

/* line 34, ../sass/base.scss */
.mt-20 {
  margin-top: 0.8rem !important;
}

/* line 37, ../sass/base.scss */
.mb-20 {
  margin-bottom: 0.8rem !important;
}

/* line 40, ../sass/base.scss */
.w-20 {
  margin: 0 auto;
  width: 20% !important;
}

/* line 34, ../sass/base.scss */
.mt-25 {
  margin-top: 1rem !important;
}

/* line 37, ../sass/base.scss */
.mb-25 {
  margin-bottom: 1rem !important;
}

/* line 40, ../sass/base.scss */
.w-25 {
  margin: 0 auto;
  width: 25% !important;
}

/* line 34, ../sass/base.scss */
.mt-30 {
  margin-top: 1.2rem !important;
}

/* line 37, ../sass/base.scss */
.mb-30 {
  margin-bottom: 1.2rem !important;
}

/* line 40, ../sass/base.scss */
.w-30 {
  margin: 0 auto;
  width: 30% !important;
}

/* line 34, ../sass/base.scss */
.mt-35 {
  margin-top: 1.4rem !important;
}

/* line 37, ../sass/base.scss */
.mb-35 {
  margin-bottom: 1.4rem !important;
}

/* line 40, ../sass/base.scss */
.w-35 {
  margin: 0 auto;
  width: 35% !important;
}

/* line 34, ../sass/base.scss */
.mt-40 {
  margin-top: 1.6rem !important;
}

/* line 37, ../sass/base.scss */
.mb-40 {
  margin-bottom: 1.6rem !important;
}

/* line 40, ../sass/base.scss */
.w-40 {
  margin: 0 auto;
  width: 40% !important;
}

/* line 34, ../sass/base.scss */
.mt-45 {
  margin-top: 1.8rem !important;
}

/* line 37, ../sass/base.scss */
.mb-45 {
  margin-bottom: 1.8rem !important;
}

/* line 40, ../sass/base.scss */
.w-45 {
  margin: 0 auto;
  width: 45% !important;
}

/* line 34, ../sass/base.scss */
.mt-50 {
  margin-top: 2rem !important;
}

/* line 37, ../sass/base.scss */
.mb-50 {
  margin-bottom: 2rem !important;
}

/* line 40, ../sass/base.scss */
.w-50 {
  margin: 0 auto;
  width: 50% !important;
}

/* line 34, ../sass/base.scss */
.mt-55 {
  margin-top: 2.2rem !important;
}

/* line 37, ../sass/base.scss */
.mb-55 {
  margin-bottom: 2.2rem !important;
}

/* line 40, ../sass/base.scss */
.w-55 {
  margin: 0 auto;
  width: 55% !important;
}

/* line 34, ../sass/base.scss */
.mt-60 {
  margin-top: 2.4rem !important;
}

/* line 37, ../sass/base.scss */
.mb-60 {
  margin-bottom: 2.4rem !important;
}

/* line 40, ../sass/base.scss */
.w-60 {
  margin: 0 auto;
  width: 60% !important;
}

/* line 34, ../sass/base.scss */
.mt-65 {
  margin-top: 2.6rem !important;
}

/* line 37, ../sass/base.scss */
.mb-65 {
  margin-bottom: 2.6rem !important;
}

/* line 40, ../sass/base.scss */
.w-65 {
  margin: 0 auto;
  width: 65% !important;
}

/* line 34, ../sass/base.scss */
.mt-70 {
  margin-top: 2.8rem !important;
}

/* line 37, ../sass/base.scss */
.mb-70 {
  margin-bottom: 2.8rem !important;
}

/* line 40, ../sass/base.scss */
.w-70 {
  margin: 0 auto;
  width: 70% !important;
}

/* line 34, ../sass/base.scss */
.mt-75 {
  margin-top: 3rem !important;
}

/* line 37, ../sass/base.scss */
.mb-75 {
  margin-bottom: 3rem !important;
}

/* line 40, ../sass/base.scss */
.w-75 {
  margin: 0 auto;
  width: 75% !important;
}

/* line 34, ../sass/base.scss */
.mt-80 {
  margin-top: 3.2rem !important;
}

/* line 37, ../sass/base.scss */
.mb-80 {
  margin-bottom: 3.2rem !important;
}

/* line 40, ../sass/base.scss */
.w-80 {
  margin: 0 auto;
  width: 80% !important;
}

/* line 34, ../sass/base.scss */
.mt-85 {
  margin-top: 3.4rem !important;
}

/* line 37, ../sass/base.scss */
.mb-85 {
  margin-bottom: 3.4rem !important;
}

/* line 40, ../sass/base.scss */
.w-85 {
  margin: 0 auto;
  width: 85% !important;
}

/* line 34, ../sass/base.scss */
.mt-90 {
  margin-top: 3.6rem !important;
}

/* line 37, ../sass/base.scss */
.mb-90 {
  margin-bottom: 3.6rem !important;
}

/* line 40, ../sass/base.scss */
.w-90 {
  margin: 0 auto;
  width: 90% !important;
}

/* line 34, ../sass/base.scss */
.mt-95 {
  margin-top: 3.8rem !important;
}

/* line 37, ../sass/base.scss */
.mb-95 {
  margin-bottom: 3.8rem !important;
}

/* line 40, ../sass/base.scss */
.w-95 {
  margin: 0 auto;
  width: 95% !important;
}

/* line 34, ../sass/base.scss */
.mt-100 {
  margin-top: 4rem !important;
}

/* line 37, ../sass/base.scss */
.mb-100 {
  margin-bottom: 4rem !important;
}

/* line 40, ../sass/base.scss */
.w-100 {
  margin: 0 auto;
  width: 100% !important;
}

/* line 46, ../sass/base.scss */
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 97, ../sass/luckmoney.scss */
/* line 53, ../sass/base.scss */
.row:after {
  clear: both;
}

/* line 101, ../sass/luckmoney.scss */
/* line 57, ../sass/base.scss */
[class^="col-"], [class*=" col-"] {
  position: relative;
  float: left;
  display: block;
}

/* line 107, ../sass/luckmoney.scss */
/* line 64, ../sass/base.scss */
.col + .col {
  margin-left: 1.6%;
}

/* line 116, ../sass/luckmoney.scss */
/* line 69, ../sass/base.scss */
.col-1 {
  width: 6.86666666667%;
}

/* line 120, ../sass/luckmoney.scss */
/* line 74, ../sass/base.scss */
.col-2 {
  width: 15.3333333333%;
}

/* line 124, ../sass/luckmoney.scss */
/* line 79, ../sass/base.scss */
.col-3 {
  width: 23.8%;
}

/* line 128, ../sass/luckmoney.scss */
/* line 84, ../sass/base.scss */
.col-4 {
  width: 32.2666666667%;
}

/* line 132, ../sass/luckmoney.scss */
/* line 89, ../sass/base.scss */
.col-5 {
  width: 40.7333333333%;
}

/* line 136, ../sass/luckmoney.scss */
/* line 94, ../sass/base.scss */
.col-6 {
  width: 49.2%;
}

/* line 140, ../sass/luckmoney.scss */
/* line 99, ../sass/base.scss */
.col-7 {
  width: 57.6666666667%;
}

/* line 144, ../sass/luckmoney.scss */
/* line 104, ../sass/base.scss */
.col-8 {
  width: 66.1333333333%;
}

/* line 148, ../sass/luckmoney.scss */
/* line 109, ../sass/base.scss */
.col-9 {
  width: 74.6%;
}

/* line 152, ../sass/luckmoney.scss */
/* line 114, ../sass/base.scss */
.col-10 {
  width: 83.0666666667%;
}

/* line 156, ../sass/luckmoney.scss */
/* line 119, ../sass/base.scss */
.col-11 {
  width: 91.5333333333%;
}

/* line 160, ../sass/luckmoney.scss */
/* line 124, ../sass/base.scss */
.col-12 {
  width: 100%;
  margin-left: 0;
}

/* line 129, ../sass/base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* line 137, ../sass/base.scss */
html, body {
  background-color: #fff;
  font-family: "Microsoft YaHei";
  overflow: scroll;
}

/* line 142, ../sass/base.scss */
.page {
  display: none;
  margin: 0 auto;
  max-width: 640px;
  overflow-x: hidden;
}
/* line 147, ../sass/base.scss */
.page.page-current {
  display: block;
}

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 161, ../sass/base.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 169, ../sass/base.scss */
.icon-star:before {
  content: "\e60d";
}

/* line 170, ../sass/base.scss */
.icon-phone:before {
  content: "\e654";
}

/* line 171, ../sass/base.scss */
.icon-close:before {
  content: "\e614";
}

/* line 172, ../sass/base.scss */
.icon-arrowleft:before {
  content: "\e85f";
}

/* line 173, ../sass/base.scss */
.btn {
  display: inline-block;
  padding: .3rem .3rem;
  margin-bottom: 0;
  font-size: .45rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background-color: #1a98ff;
  color: #fff;
  border-radius: .2rem;
  outline: none;
  text-decoration: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 191, ../sass/base.scss */
.btn.btn-block {
  width: 100%;
}
/* line 195, ../sass/base.scss */
.btn:active {
  opacity: .9;
}
/* line 198, ../sass/base.scss */
.btn:disabled {
  background-color: #dcdcdc;
  color: #d3d3d3;
}
/* line 202, ../sass/base.scss */
.btn.btn-small {
  padding: .15rem .7rem;
  border-radius: .1rem;
  font-size: .35rem;
  font-weight: normal;
}
